
@{
	ViewData["Title"] = "Página princípal";

}

<h2> Ejemplo 1</h2>
<div>
	Guid Transitorio: <b style="color: red">@Model.EjemploGUID_1.Transitorio </b>
</div>
<div>
	Guid Delimitado: <b style="color: purple">@Model.EjemploGUID_1.Delimitado </b>
</div>
<div>
	Guid Unico: <b style="color: skyblue">@Model.EjemploGUID_1.Unico </b>
</div>

<partial name="_presentacion" />

<partial name="_habilidades" />

<partial name="_PRealizados" model="Model.Proyectos"/>